@import url(preflight.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  button {
    @apply relative font-bold text-white py-1 rounded-lg w-full bg-transparent overflow-hidden;
  }
  button::before {
    content: "";
    @apply absolute inset-0 -z-20;   
  }
  button::after {
    content: "";
    transition: 400ms ease-out;
    @apply absolute left-0 top-0 h-full rounded-lg w-0 bg-white bg-opacity-25 -z-10 
  }
  button:hover::after {
    transition: 200ms ease-in;
    @apply w-full;
  }

  .h2 {
    @apply text-[1.3em] uppercase font-bold;
  }
}

@layer utilities {
}



/* _____________________________________________________ animations ________________________________________________ */

@keyframes fade-from-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes fade-from-bottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}



